<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="singleTonBean" class="com.wyb.test.spring.scope.ScopeBean" scope="singleton">
    </bean>

    <bean id="prototypeBean" class="com.wyb.test.spring.scope.ScopeBean" scope="prototype" />

    <bean id="requestBean" class="com.wyb.test.spring.scope.ScopeBean" scope="request" />

    <bean id="sessionBean" class="com.wyb.test.spring.scope.ScopeBean" scope="session" />

    <bean id="globalSessionBean" class="com.wyb.test.spring.scope.ScopeBean" scope="globalSession" />

</beans>
