<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CdA" class="com.wyb.test.spring.cycleDependence.CdA" scope="singleton">
        <property name="cdB" ref="CdB" ></property>
    </bean>

    <bean id="CdB" class="com.wyb.test.spring.cycleDependence.CdB" scope="singleton">
        <property name="cdA" ref="CdA" ></property>
    </bean>


</beans>
