<?xml version='1.0' encoding='UTF-8'?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
    <!--<property name="maxTotal" value="${redis.pool.maxIdle}"/>-->
    <!--<property name="minIdle" value="${redis.pool.minIdle}"/>-->
    <!--<property name="testOnCreate" value="${redis.pool.testOnCreate}"/>-->
    <!--<property name="testOnBorrow" value="${redis.pool.testOnBorrow}"/>-->
    <!--<property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}"/>-->
    <!--<property name="testWhileIdle" value="${redis.pool.testWhileIdle}"/>-->
    <!--<property name="minEvictableIdleTimeMillis" value="${redis.pool.minEvictableIdleTimeMillis}"/>-->
    <!--<property name="timeBetweenEvictionRunsMillis" value="${redis.pool.timeBetweenEvictionRunsMillis}"/>-->
    <!--<property name="softMinEvictableIdleTimeMillis" value="${redis.pool.softMinEvictableIdleTimeMillis}"/>-->
    <!--<property name="numTestsPerEvictionRun" value="${redis.pool.numTestsPerEvictionRun}"/>-->
    <!--</bean>-->

    <!--<bean id="redisCachePool" class="redis.clients.jedis.JedisPool">-->
    <!--<constructor-arg index="0" ref="jedisPoolConfig"/>-->
    <!--<constructor-arg index="1" value="${redis.cache.host}"/>-->
    <!--<constructor-arg index="2" value="${redis.cache.port}"/>-->
    <!--<constructor-arg index="3" value="${redis.cache.timeout}"/>-->
    <!--<constructor-arg index="4" value="${redis.cache.auth}"/>-->
    <!--</bean>-->

    <!--<bean id="redisCacheService" class="com.mogu.enterprise.service.impl.RedisCacheServiceImpl">-->
    <!--<constructor-arg index="0" ref="jedisCluster"/>-->
    <!--</bean>-->

    <!--通用池-->
    <bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
        <property name="maxWaitMillis" value="-1" />
        <property name="maxTotal" value="1000" />
        <property name="minIdle" value="1" />
        <property name="maxIdle" value="100" />
    </bean>

    <!--<bean id="jedisCluster" class="com.wyb.cache.config.JedisClusterFactory">-->
        <!--<property name="connectionTimeout" value="3000" />-->
        <!--<property name="soTimeout" value="3000" />-->
        <!--<property name="maxRedirections" value="5" />-->
        <!--<property name="maxAttempts" value="5" />-->
        <!--<property name="password" value="" />-->
        <!--<property name="genericObjectPoolConfig" ref="genericObjectPoolConfig" />-->
        <!--<property name="jedisClusterNodes">-->
            <!--<set>-->
                <!--<value>127.0.0.1:6379</value>-->
                <!--&lt;!&ndash;<value>121.199.45.208:7001</value>&ndash;&gt;-->
                <!--&lt;!&ndash;<value>121.199.45.208:7002</value>&ndash;&gt;-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->

</beans>
