<?xml version="1.0" encoding="UTF-8"?>
<!-- 如果没有配置 log4j2.xml 配置文件，那么LOG4J将自动启用类似于下面的的配置文件 -->
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
